<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <title>Ambulance Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<body>
    <!-- <div class="welcome">
        <i class="fa fa-ambulance"></i><span>Welcome to Ambulance Service</span>
    </div> -->
    <div class="open">
    <h2>Welcome to Student Page</h2>
    <h5> This page is under development...</h5>
    <a href="/student/logout">Logout</a>
    </div>
</body>
</html>